.container {
	background-image: url(http://thiswallpaper.com/cdn/hdwallpapers/325/savana%20tree%20sunset%20high%20resolution%20wallpaper.jpg);
	background-size: cover;
}

.jumbotron {
	background-color: #18fa36
	opacity: 0.8;

}
#h1{
	/* font-family: 'Indie Flower', cursive; */
/* /* font-family: 'Pacifico', cursive; */
font-family: 'Permanent Marker', cursive; 
background-color: #fa9018
	
}
.p1{
	font-family: 'Pacifico', cursive;
}
.row {
	opacity: 0.8;
}
.col-md-4 panel-default {
	float: right;
}
