.container {
	background-image: url(http://thiswallpaper.com/cdn/hdwallpapers/325/savana%20tree%20sunset%20high%20resolution%20wallpaper.jpg);
	background-size: cover;
}

.jumbotron {
	opacity: 0.8;
	font-family: 'Pacifico', cursive;
}
#h1 {
	/* font-family: 'Indie Flower', cursive; */
	/* /* font-family: 'Pacifico', cursive; */
	font-family: 'Permanent Marker', cursive;
	background-color: #fa9018;
}

.row {
	opacity: 0.8;
	font-family: 'Indie Flower', cursive;
	font-size: 150%;
	font-style: oblique;
}
.col-md-4 panel-default {
	float: right;
	background-color: #30e3ca;
}
